:root {
  --general-white: #ffffff;
  --general-black: #000000;
  --text-main-color: #212121;
  --main-blue: #2196f3;
  --description-text-color: #757575;
  --background-color: #2f303a;
  --team-container-color: #f5f4fa;
  --buttons-background-color: #f5f4fa;
}
/* reseting default decoration */
* {
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
body {
  margin: 0;
  background-color: #ffffff;
  font-family: Roboto;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--description-text-color);
}

/* header section */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-blue);
}
.logo-footer {
  color: var(--general-white);
}
.logo-header {
  color: var(--general-black);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
}
.link.current {
  color: var(--main-blue);
}

.link:hover,
.link:focus {
  color: var(--main-blue);
}
.link.contacts-header {
  color: var(--description-text-color);
}

/* hero section */
.hero {
  background-color: var(--background-color);
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--general-white);
}
.hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--general-white);
  background-color: var(--main-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* main section */
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-main-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--text-main-color);
}
/* buttons section */
.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-main-color);
  background-color: var(--buttons-background-color);
  border-radius: 4px;
}
.button:hover,
.button:focus {
  color: var(--general-white);
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* footer section */
.footer {
  background-color: var(--background-color);
}
.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link.street {
  color: var(--general-white);
}
.link.contacts {
  color: rgba(255, 255, 255, 0.6);
}
